<ion-header>

  <ion-navbar>
    <ion-title>Bluetooth Things</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager="true">

    <!--Slide 1-->
    <ion-slide>
      <ion-list padding>
        <button ion-button block (click)="startScanning()">scan</button>

        <ion-list-header>
          Paired Devices
        </ion-list-header>

        <ion-item *ngFor="let device of pairedDevices">
          <span (click)="selectDevice(device.address)">
            {{device.name}} : {{device.address}}
          </span>
        </ion-item>

        <button ion-button block (click)="disconnect()">Disconnect</button>

        <ion-list-header>
          Available Devices
        </ion-list-header>

        <ion-item *ngFor='let device of unpairedDevices'>
          <span (click)="selectDevice(device.address)">
            {{device.name}} : {{device.address}}
          </span>
        </ion-item>

        <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
      </ion-list>
    </ion-slide>

    <!--Slide 2-->
    <ion-slide>

      <ion-label>LED Response:</ion-label>
      <p> {{model.ledResponse}} </p>
      <button ion-button block (click)="turnOn()">on</button>
      <button ion-button block (click)="turnOff()">off</button>

    </ion-slide>

    <!--Slide 3-->
    <ion-slide>
      <p> {{model.readResponse}} </p>
      <button ion-button block (click)="readThings()">read</button>
      <hr>
      <ion-label>Write Things:</ion-label>
      <ion-textarea type="text" [(ngModel)]="model.writeThis"></ion-textarea>
      <button ion-button block (click)="writeThings()">write</button>
    </ion-slide>

    <!--Slide 4-->
    <ion-slide>
      <p>{{model.slideFourInfo}}</p>
      <button ion-button block (click)="util()">util</button>
      <button ion-button block (click)="showSettings()">settings</button>
      <button ion-button block (click)="listThings()">list</button>
    </ion-slide>

  </ion-slides>

</ion-content>
